# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2
fwoutputs

# nicola_via: exclude depencency links
/keyboards/**/keymaps/*/nicola.c
/keyboards/**/keymaps/*/nicola.h
/keyboards/**/keymaps/*/key_duration.c
/keyboards/**/keymaps/*/key_duration_arm.c
/keyboards/**/keymaps/*/key_duration.h